@import "~juicyfront/styles/mixins";

.card__wrapper {
  display: flex;

  align-items: center;
}

.date__number {
  @include h3;
  color: var(--text-primary);
  padding-right: 16px
}

.date__month {
  @include h6;
  color: var(--text-secondary)
}

.date__time {
  @include text-l-16-bold;
  color: var(--basic-primary);
  white-space: nowrap;
}

.date__wrapper {
  padding-right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text__wrapper {
  width: 480px;
  padding-right: 18px;
}

.avatars__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 130px;
}

.avatars__items {
  margin-right: -8px;
}

.avatars__count {
  padding-left: 12px;
  @include h6;
  color: var(--text-secondary)
}

.avatars__items:last-child {
  margin-right: 0;
}

.menu__wrapper {
  margin-right: 0;
  padding-left: 4px;

}
