.find__wrapper {
  padding-bottom: 36px;
  height:262px
}

.find-results__wrapper {
  padding-top: 16px;
  display: flex;

}

.users__items {
  padding-right: 16px;
}

.users__items:last-child {
  padding-right: 0;
}
