@import "~juicyfront/styles/mixins";

.button_wrapper {
  color: var(--basic-primary)
}

.page__header {
  display: flex;
  width: 840px;
}

.page__header-avatar {
  margin-right: 0;
  margin-left: auto;
}

.modal__wrapper {
  background: var(--background-primary);
  padding: 20px;
  border-radius: 20px;
  overflow-y: auto;

}
@media screen and (max-height: 750px) {
  .modal__wrapper {
    height: calc(100vh - 40px )
  }
}

.modal__header {
  @include h3;
  padding: 20px 0;

}
