// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// Эти стили не будут применены в SHELL
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

@import "styles/fonts.css";
@import "styles/common";


#root {
  width: 100%;
  height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: default;
  background-color: var(--background-secondary);
}

#structure {
  height: 100%;
  padding: 20px !important;
}

.rf-tooltip__content-union--right {
  position: absolute;
  top: calc(50% - 8px);
  left: -8px;
  transform: translate(-50%) rotate(90deg);
}
.rf-tooltip__content-union--left {
  position: absolute;
  top: calc(50% - 8px);
  right: -7.8px;
  transform: translate(50%) rotate(-90deg);
}

.rf-tooltip__content-union--bottom {
  position: absolute;
  bottom: calc(100% - 1px);
  right: 50%;
  transform: translate(50%) rotate(-180deg);
}

.rf-tooltip__content-union--top {
  position: absolute;
  top: calc(100% - 1px);
  right: 50%;
  transform: translate(50%);
}
